.activity__container {
    display: flex;
    /* width: 100%; */
    padding: 20px;
    margin-top: 20px;
    background: white;
    margin: 20px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    cursor: pointer;
}

.activity_title{
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.activity__image {
    width: 80%;
    height: auto;
}

.activity__image img {
    /* height: auto; */
    width: 600px;
}

.activity__text {
    max-width: 50%;
    padding: 20px;
    text-align: left;
}

.activity__text h3 {
    text-align: left;
    margin-bottom: 10px;
}


@media (max-width: 960px) {
    .activity__container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .activity__text {
      max-width: 30%;
      padding: 20px;
      text-align: center;
      min-width: 300px;
  }
  
  .activity__text h3 {
      text-align: center;
      margin-bottom: 10px;
  }
}


@media (min-width: 601px) and (max-width: 686px) {
  .activity__container {
    flex-direction: row; 
  }

  .activity__image {
    width: 100%;
  }

  .activity__image img {
    width: 100%;
  }

  .activity__text {
    max-width: 50%; /* Take up the full width */
  }

}



/* Media Query for small screens (up to 600px) */
@media (max-width: 600px) {
  .activity__container {
    flex-direction: column; /* Stack the items vertically */
  }

  .activity__image {
    width: 100%;     /*Take up the full width*/
  }

  .activity__image img {
    width: 100%; /* Allow the image to take its natural height */
  }

  .activity__text {
    max-width: 100%; /* Take up the full width */
  }
}

@media (max-width:830) {

.activity__image img {
    width: 200px;
}
}
   

