.activity__container {
    display: flex;
    /* width: 100%; */
    padding: 20px;
    margin-top: 20px;
    background: white;
    margin: 20px;
    text-align: start;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    cursor: pointer;
}

.activity__image {
    width: 70%;
}

.activity__image img {
    max-height: 600px;
    width: 600px;
}

.activity__text {
    max-width: 40%;
    padding: 20px;
    text-align: left;
}

.activity__text h3 {
    text-align: left;
    margin-bottom: 10px;
}





/* Media Query for tablets (768px - 1000px) */
@media (min-width: 687px) and (max-width: 1000px) {
  .activity__container {
    flex-direction: row; /* Revert to horizontal layout */
  }

  .activity__image img {
    width: 90%; /* Maintain the original width */
  }

  .activity__text {
    max-width: 40%; /* Maintain the original width */
  }
}

@media (min-width: 601px) and (max-width: 686px) {
  .activity__container {
    flex-direction: row; 
  }

  .activity__image {
    width: 100%;
  }

  .activity__image img {
    width: 100%;
  }

  .activity__text {
    max-width: 50%; /* Take up the full width */
  }

}



/* Media Query for small screens (up to 600px) */
@media (max-width: 600px) {
  .activity__container {
    flex-direction: column; /* Stack the items vertically */
  }

  .activity__image {
    width: 100%;     /*Take up the full width*/
  }

  .activity__image img {
    width: 100%; /* Allow the image to take its natural height */
  }

  .activity__text {
    max-width: 100%; /* Take up the full width */
  }
}