.fee__container {
    margin: 2rem 2rem;
    padding: 20px;
    justify-content: center;
    text-align: left;
}

.fee__container p {
    margin-bottom: 15px;
}

.fee__container a {
    color: #ff8b3d;
}